<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="wz" connectionString="server=www.junjv.com,1234;database=redlim;User Id=sa;pwd=www.junjv.com" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
        <add key="key1" value="value1"/>
    </appSettings>
</configuration>